.container{
    margin-inline: auto;
}

.container {
    padding-inline: 15px;
}
.about-banner {
    margin-bottom: 0;
}

.about-banner {
    position: relative;
    margin-left: 200px;
}
.about-banner > img {
    width: 100%;
}
.about-banner > img {
    max-width: max-content;
    width: 100%;
    width: 440px;
    height: 600px;
}
a, img, span, button, ion-icon {
    display: block;
}
.about-banner .abs-img {
    position: absolute;
    bottom: 100px;
    left: 15px;
    width: 50%;
    border-radius: 4px;
    width: 220px;
    height: 156.75px;
}
.about-banner > img {
    max-width: max-content;
    width: 100%;
}
#about{
    margin-top: 130px;
}
.about .section-subtitle {
    margin-inline: 0;
}
.about-content{
    margin-right: 20px;
}

.about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
}
.container {
    padding-inline: 15px;
}

.section-subtitle {
    color: var(--orange-soda);
    font-size: var(--fs-5);
    font-weight: var(--fw-600);
    padding: 5px 20px;
    background: hsla(9, 100%, 62%, 0.1);
    width: max-content;
    border-radius: 50px;
    margin-inline: auto;
    margin-bottom: 15px;
    color: red;
}
about .section-title {
    max-width: 30ch;
}

.about .section-title {
    --text-align: left;
    --margin-bottom: 15px;
}
.section-title {
    text-align: var(--text-align, center);
    margin-bottom: var(--margin-bottom, 50px);
}

.h1, .h2, .h3 {
    color: var(--dark-jungle-green);
    font-family: sans-serif;
    line-height: 1.5;
    width: 440px;
    height: 78px;
}
.about-text {
    max-width: 55ch;
}

.about-text {
    color: var(--cadet);
    font-size: var(--fs-5);
    line-height: 1.7;
    margin-bottom: 30px;
    opacity: 0.75;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.about-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 120px;
}
.about-list {
    margin-bottom: 30px;
    padding-left: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.about-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    width: 220px;
    height: 45px;
}

li {
    list-style: none;
}
.about-item-text {
    color: var(--cadet);
    font-size: var(--fs-5);
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.about-item i{
    border-color: rgba(243, 24, 28, 0.829);
    border-radius: 50%;
    color: rgba(233, 47, 47, 0.516);
    margin-right: 15px;
    background: rgba(216, 113, 114, 0.322);;
}
.about-item i {
    height: 45px;
    min-width: 45px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.about-item p {
    opacity: 0.75;
}

.about .callout {
    background: hsla(7, 78%, 53%, 0.05);
    color: var(--cadet);
    font-size: var(--fs-5);
    font-weight: var(--fw-500);
    line-height: 1.8;
    padding: 20px 25px;
    margin-right: 130px;
    border-left: 4px solid red;
    margin-bottom: 40px;
    opacity: 0.75;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.about .btn {
    max-width: max-content;
    --text-transform: uppercase;
}

.btn {
    position: relative;
    background: red;
    color: white;
    border: 1px solid orange;
    z-index: 1;
    padding: 15px 20px;
    font-family: sans-serif;
    transition: all 0.3s;
}
.btn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transform: scale(1.01);
    border: 1px solid black;
}
.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
    transition: var(--transition);
    z-index: -1;
}
